.ftxt {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}